<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fastlms- 회원정보페이지입니다.</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            $('form').on('submit', function () {

                var newPassword = $(this).find('input[name=newPassword]').val();
                var newRePassword = $(this).find('input[name=newRePassword]').val();

                if(newPassword != newRePassword) {
                    alert(' 신규 비밀번호 값이 일치하지 않습니다.');
                    return false
                }
            });
        });
    </script>
</head>
<body>
<h1>회원정보(비밀번호 변경) 페이지입니다.</h1>
<div th:replace="/fragments/layout.html :: fragment-user-menu"></div>
<hr/>
<div>
    <a href="/member/info">회원 정보 수정</a>
    |
    <a href="/member/info-password-update">비밀번호 변경</a>
    |
    <a href="/member/info-takeCourse-list">내 수강 목록</a>
    <hr/>
</div>
<div>
    <form id="submitForm" method="post">
        <div>
            <input type="password" name="userPw" placeholder="현재 비밀번호 입력" required/>
        </div>
        <div>
            <input type="password" name="newPassword" placeholder="신규 비밀번호 입력" required/>
        </div>
        <div>
            <input type="password" name="newRePassword" placeholder="신규 확인 비밀번호 입력" required/>
        </div>
        <div>
            <button type="submit">비밀번호 변경</button>
        </div>

    </form>
</div>
<a href="/static">돌아가기</a>
</body>
</html>