<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fastlms- 회원정보페이지입니다.</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
        }
        .list table th, .list table td {
            border:solid 1px #000;
        }

        p.nothing {
            text-align: center;
            padding: 100px;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {

            $('#updateForm').on('submit', function () {

                if (!confirm('회원 정보를 수정하시겠습니까? ')) {
                    return false;
                }

            });

        });
    </script>
</head>
<body>
<h1>회원정보(내정보) 페이지입니다.</h1>
<div th:replace="/fragments/layout.html :: fragment-user-menu"></div>
<hr/>
<div>
    <a href="/member/info">회원 정보 수정</a>
    |
    <a href="/member/info-password-update">비밀번호 변경</a>
    |
    <a href="/member/info-takeCourse-list">내 수강 목록</a>
    <hr/>
</div>

<div class =list>
    <form id="updateForm" method="post">
        <table>
            <tbody>
            <tr>
                <td>아이디</td> <!--수정불가 -->
                <th><p th:text="${detail.userId}">아이디</p></th>
            </tr>
            <tr>
                <td>이름</td><!--수정불가 -->
                <th><p th:text="${detail.userName}">이름</p></th>
            </tr>
            <tr>
                <td>이메일</td>    <!--수정불가 -->
                <th><p th:text="${detail.userEmail}">이메일</p></th>
            </tr>
            <tr>
                <td>핸대폰 번호</td>   <!--수정가능 -->
                <th><input name="userPhoneNumber" type="text" th:value="${detail.userPhoneNumber}"/></th>
            </tr>
            <tr>
                <td>주소</td>   <!--수정가능 -->
                <th>
                    <div><input name="zipcode" id="zipcode" type="text" th:value="${detail.zipcode}" readonly placeholder="우편 번호 입력"/>
                        <button onclick="execDaumPostcode()" type="button">우편번호 찾기</button>
                    </div>
                    <div>
                        <input type="text" id="address" name="address" th:value="${detail.address}" readonly placeholder="주소 입력" />
                        <input type="text" id="addressDetail" name="addressDetail" th:value="${detail.addressDetail}" placeholder="상세 주소 입력">
                    </div>
                </th>
            </tr>


            <tr>
                <td>가입일</td>
                <th><p th:text="${detail.getRegDtText()}">가입일</p></th>
            </tr>
            <tr>
                <td>회원 정보 수정일</td>
                <th><p th:text="${detail.getUdtDtText()}">가입일</p></th>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="submit">수정</button>

            <a href="/member/withdraw">회원탈퇴</a>
        </div>
    </form>

</div>


<a href="/">돌아가기</a>

<!--우편번호 찾기 API-->


<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    // document.getElementById("sample3_extraAddress").value = extraAddr;

                } else {
                    // document.getElementById("sample3_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addressDetail").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>
</body>
</html>