<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>fastLms-회원가입 페이지</title>
</head>
<body>
<h1>회원가입</h1>

<!--입력받을 값 : 아이디, 이메일, 이름, 전화번호-->
<!--회원가입은 보안때문에 Get방식이 아닌 Post방식을 사용-->
<form method="post">
    <div>
        <input   name="userId" placeholder="사용할 아이디 입력" required/>
    </div>
    <div>
        <input type="password" name="userPw" placeholder="사용할 비밀번호 입력" required/>
    </div>
    <div>
        <input type="password" name="userRePw" placeholder="사용할 비밀번호 재입력" required/>
    </div>
    <div>
        <input  name="userName" placeholder="이름 입력" required/>
    </div>
    <div>
        <input type="email" name="userEmail" placeholder="이메일 입력" required/>
    </div>
    <div>
        <input type="tel" name="userPhoneNumber" placeholder="휴대폰번호 입력" required/>
    </div>
    <div>
        <button>회원 가입</button>
    </div>
</form>


</body>
</html>