<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fastLms-관리자페이지(회원관리)</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }

        .detail table th {
            border: solid 1px #000;
        }

        .detail table td {
            border: solid 1px #000;
        }
    </style>
</head>
<body>
<h1> 관리자페이지(회원 상세정보)</h1>
<div>
    <a href="/admin/main.do">메인화면으로 가기</a>

    <a href="/admin/member/list.do">회원 관리</a>

    <a href="#"> 카테고리 관리</a>

    <a href="#"> 강의 관리</a>
    <br/>
    <hr/>
</div>
<div class="detail">
     <table>
         <tbody>
         <tr>
             <th>아이디</th>
             <td>
                 <p th:text="${member.userId}"></p>
             </td>
         </tr>
         <tr>
             <th>이름</th>
             <td>
                 <p th:text="${member.userName}"></p>
             </td>
         </tr>
         <tr>
             <th>이메일</th>
             <td>
                 <p th:text="${member.userEmail}"></p>
             </td>
         </tr>
         <tr>
             <th>휴대폰번호</th>
             <td>
                 <p th:text="${member.userPhoneNumber}"></p>
             </td>
         </tr>
         <tr>
             <th>가입일</th>
             <td>
                 <p th:text="${member.regDt}"></p>
             </td>
         </tr>
         <tr>
             <th>이메일인증키</th>
             <td>
                 <p th:text="${member.emailAuthKey}"></p>
             </td>
         </tr>
         <tr>
             <th>이메일인증여부</th>
             <td>
                 <p th:text="${member.emailAuthYn}"></p>
             </td>
         </tr>
         <tr>
             <th>이메일 인증 시간</th>
             <td>
                 <p th:text="${member.emailAuthDt}"></p>
             </td>
         </tr>
         <tr>
             <th>비밀번호 변경 키</th>
             <td>
                 <p th:text="${member.resetPasswordKey}"></p>
             </td>
         </tr>
         <tr>
             <th>비밀번호 변경 시간</th>
             <td>
                 <p th:text="${member.resetPasswordLimitDt}"></p>
             </td>
         </tr>
         <tr>
             <th>관리자 여부</th>
             <td>
                 <p th:text="${member.adminYn}"></p>
             </td>
         </tr>
         <tr>
             <th>회원 상태</th>
             <td>
                 <p>
                 현재상태 : <span th:text="${member.userStatus}"></span></p>
                 <div>
                     <form method="post" action="/admin/member/status.do">
                         <input th:value="${member.userId}" type="hidden" name="userId" />
                         <select name="userStatus">
                             <option value="REQ">REQ : 이용불가(이메일 미인증)</option>
                             <option value="ING">ING : 이용가능</option>
                             <option value="STOP">STOP : 이용불가(계정정지)</option>
                         </select>
                         <button type="submit">상태 변경</button>
                     </form>
                 </div>
             </td>
         </tr>
         <tr>
             <th>비밀번호 초기화</th>
             <td>
                 <div>
                     <form method="post" action="/admin/member/password.do">
                         <input th:value="${member.userId}" type="hidden" name="userId" />
                         <input type="text" name="userPw"/>
                         <button type="submit">비밀번호 초기화</button>
                     </form>
                 </div>
             </td>
         </tr>
         </tbody>
     </table>
    <div>
        <a href="list.do">목록으로 이동</a>
    </div>
</div>

</body>
</html>