<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>fastLms-인트로 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<body>
<h1>인덱스 페잊!!!</h1>
<div th:replace="/fragments/layout.html :: fragment-user-menu"></div>


<div>
    <img src="/files/2022/08/29/a748d67f2f6847478d4125c65f62be0e.JPG" />

    <div class="home__slider">
        <div class="bxslider">
            <div th:each="x: ${banner}">
<!--                target 종류 blank, top, https://m.blog.naver.com/wolfre/220319783903
현재창에서 사진이 나오는지 새로운창에서 나오는지의 여부
-->
                <a th:href="${x.urlFilename}" th:target="${x.target}">
                    <img th:src="${x.urlFilename}"></a>
            </div>
</div>

</body>

</html>