<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fastLms-관리자페이지(카테고리관리)</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }

        .list table th {
            border: solid 1px #000;
        }

        .list table td {
            border: solid 1px #000;
        }

        p.nothing {
            text-align: center;
            padding: 50px;
        }

        .add-form {
            position: relative;
            padding: 5px 0 10px 0;
            text-align: right;
        }

        .add-form .total-count {
            position: absolute;
            left: 0;
            top: 0;
            height: 20px;
            float: left;
        }
        .inline-div {
            display: inline-block;
        }



    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            //샂제
            $('form[name=deleteForm]').on('submit', function () {

                if (!confirm('카테고리를 삭제하겠습니까>?')) {
                    return false;
                }

            });

            //수정
            $('button.update-button').on('click', function() {

                if (!confirm('카테고리를 수정하시겠습니까?')) {
                    return false;
                }

                var $this = $(this);
                var $tr = $this.closest('tr');

                var id = $tr.find('input[name=id]').val();
                var categoryName = $tr.find('input[name=categoryName]').val();
                var sortValue = $tr.find('input[name=sortValue]').val();
                var usingYn = $tr.find('input[type=checkbox]')[0].checked;

                $updateForm = $('form[name=updateForm]');
                $updateForm.find('input[name=id]').val( id );
                $updateForm.find('input[name=categoryName]').val( categoryName );
                $updateForm.find('input[name=sortValue]').val( sortValue );
                $updateForm.find('input[name=usingYn]').val( usingYn );
                $updateForm.submit();
            });

        });
    </script>
</head>
<body>
<h1> 관리자페이지(카테고리관리)</h1>
<div th:replace="/fragments/layout.html :: fragment-admin-menu"> </div>

<div class="list">
    <div class="add-form">
        <p class="total-count"><span th:text="${#lists.size(list)}"></span>개의 카테고리가 존재합니다.</p>
        <form name="addForm" method="post" action="/admin/category/add.do">
            <input type="text" name="categoryName" placeholder="카테고리이름을 입력해주세요" required/>
            <button id="add-button" type="submit">추가</button>
        </form>
    </div>

    <div class="table-form">
        <table>
            <thead>
            <tr>
                <th> ID</th>
                <th>
                    카테고리명
                </th>
                <th>
                    순서
                </th>
                <th>
                    사용여부
                </th>
                <th>
                    비고
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="x : ${list}">
                <td th:text="${x.id}">
                    <input type="hidden" name="id" th:value="${x.id}"/>
                    <p th:text="${x.id}">1</p>
                </td>
                <td>
                    <input th:value="${x.categoryName}" type="text" name="categoryName"/>
                </td>
                <td>
                    <input th:value="${x.sortValue}" type="text" name="sortValue"/>
                </td>
                <td>
                    <input th:checked="${x.usingYn}" type="checkbox" th:id="'usingYn_' + ${x.id}" th:name="'usingYn_' + ${x.id}" value="true"/>
                    <label th:for="'usingYn_' + ${x.id}">사용</label>
                </td>
                <td>
                    <div class="inline-div">
                        <button class="update-button" type="button">수정</button>
                    </div>
                    <div class="inline-div">
                        <form name="deleteForm" method="post" action="/admin/category/delete.do">
                            <input type="hidden" name="id" th:value="${x.id}"/>
                            <button type="submit">삭제</button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr th:if="${#lists.size(list) < 1}">
                <td colspan="5" >
                    <p class="nothing">내용이 없습니다.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<form name="updateForm" method="post" action="/admin/category/update.do">
    <input type="hidden" name="id"/>
    <input type="hidden" name="categoryName"/>
    <input type="hidden" name="sortValue"/>
    <input type="hidden" name="usingYn" />
</form>

</body>
</html>